
a {
    text-decoration: none !important;
    color:unset !important;
}

a:hover {
    text-decoration: none !important;
    color:unset !important;
}

/* boxes and containers */
.boxed {
    margin: 0 auto;
    width: 60%;
}

.width-full {
    width:100%;
}

#tabs-styled-with-inline .tab.jsx-3201076643 {
    background-color: #393939;
}
/* 
.font-xl {
    font-size: max(26px, 2vw);
}

.font-lg {
    font-size: max(22px, 1.5vw);
}

.font-md {
    font-size: max(18px, 1.3vw);
}

.font-sm {
    font-size: max(15px, 1.1vw);
}

.font-xs {
    font-size: max(14px, 1vw);
} */

.absolute_center {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
}

.font-xl {
    font-size: min(32px, 8vw);
}

.font-lg {
    font-size: min(28px, 7vw);
}

.font-md {
    font-size: min(24px, 6vw);
}

.font-sm {
    font-size: min(20px, 5vw);
}

.font-xs {
    font-size: min(15px, 4vw);
}

.fitContent {
    width: fit-content;
    margin: 0 auto;
}

.bgGrey {
    background:#2D2D2D;
}

.text-white {
    color:#E1E2E5;
}

.text-conf{
    color:rgb(117, 190, 255);
}

.text-death {
    color:rgb(225, 116, 108);
}

.text-recov{
    color:rgb(123, 194, 145);
}

.text-display{
    color: rgb(200,200,200);
}

.bg-display-cases {
    background-color: #3B5998;
}

.bg-display-deaths {
    background-color: #ab2c1a;
}

.border-div {
    background-color: #393939;
    border-radius: 12px;
    line-height: 0.9;
    padding: 18px 0px;
}

.border-box {
    border-color: #393939;
    border-style: solid;
    border-radius: 10px;
    border-width: 2;
}

.padding-def {
    padding: 18px 36px;
}

.white {
    color: white;
}

.red {
    color: red;
}

.light {
   color: #ffffffbf;
}

.dark {
    color: #393939;
}

.bgGray {
    background-color: #3B5998;
}

.bgLight {
    background: #adc1c3;
}

.bgDark {
    background: #082b36;
}


/* position */

.right {
    float: right;
}

.left {
    float: left;
}

.margin-auto {
    margin: 0 auto;
}

/* display */

.inline-block {
    display: inline-block;
}


.title-responsible{
   font-size: max(25px, 5vw)
}



.bold {
    font-weight: bold;
}

/* alingment */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/* spacing */

.padding8 {
    padding: 8px;
}

.padding16 {
    padding: 16px;
}

.padding40 {
    padding: 40px;
}

.bottom8 {
    margin-bottom: 8px;
}

.bottom16 {
    margin-bottom: 16px;
}

.bottom24 {
    margin-bottom: 24px;
}

.bottom32 {
    margin-bottom: 32px;
}

.bottom40 {
    margin-bottom: 40px;
}

.bottom64 {
    margin-bottom: 64px;
}

.top8 {
    margin-top: 8px;
}

.top16 {
    margin-top: 16px;
}

.top24 {
    margin-top: 24px;
}

.top32 {
    margin-top: 32px;
}

.top40{
    margin-top: 40px;
}


/* border */
.border-none {
    border: none;
}

.radius32 {
    border-radius: 32px;
}

.radius16 {
    border-radius: 16px;
}

.radius12 {
    border-radius: 16px;
}

/* specific styles */

.male-icons i {
    font-size: 10rem;
}

.info-sliders span {
    font-size: 20px;
}

.add-btn:hover,
.add-btn:focus,
.add-btn:active {
    background: #839496;
}


.min-height-display {
    min-height: 85px;
}

/* media queries */

@media screen and (max-width: 1200px) {

    .boxed {
        width: 70%;
    }

}

@media screen and (max-width: 991px) {

    .boxed {
        width: 100%;
    }

    /* .font-xl {
        font-size: 28px;
        line-height: 30px;
    }

    .font-lg {
        font-size: 24px;
        line-height: 26px;
    }

    .font-md {
        font-size: 20px;
        line-height:22px;
    }

    .font-sm {
        font-size: 16px;
        line-height: 18px;
    }

    .info-sliders span {
        font-size: 30px;
    } */
}


